.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* custom */
.App {
  width: 100vw;
}

.App .App-body {
  margin-top: 30px;
}
.App .App-body .App-btn-wrapper {
  text-align: left;
}
.App .App-body .App-btn-wrapper > a,
.App .App-body .content-body > a{
  color: #666;
  text-decoration: none;
  font-size: 1.5rem;
}

.App .App-body .App-btn-wrapper > a:hover,
.App .App-body .content-body > a:hover{
  font-weight: bold;
}

.App .App-body .content {
  height: 100vh;
}

.App .App-body .divider {
  width: 80%;
  height: 1px;
  border-bottom: 1px solid #444;
  margin: 0 auto;
}


/* Transition css */
.transitions-wrapper {
  position: relative;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}
.right-enter {
  opacity: 0;
  transform: translateX(100%);
}

.right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 800ms, transform 400ms ease-in-out;
}

.right-exit {
  opacity: 1;
  transform: translateX(0);
}

.right-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 800ms, transform 400ms ease-in-out;
}

.left-enter {
  opacity: 0;  
  transform: translateX(-100%);
}

.left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 800ms, transform 400ms ease-in-out;
}

.left-exit {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 800ms, transform 400ms ease-in-out;
}

.left-exit-active {
  transform: translateX(100%);
  transition: transform 400ms ease-in-out;
}

.App .content-header {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding-left: 0;
  margin-top: 0;
  /* border-bottom: 1px solid #888; */
  box-shadow: 0px 10px 10px -1px rgba(110,108,108,0.71);
-webkit-box-shadow: 0px 10px 10px -1px rgba(110,108,108,0.71);
-moz-box-shadow: 0px 10px 10px -1px rgba(110,108,108,0.71);
}

.App .content-header li:hover,
.App .content-header li.active {
  background-color: #888;
}
.App .content-header li button {
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
}


